$color-indexChartCard-Bg: #313849;
$color-main-Bg: #1b1f28;
$color-indexChart-Bg: #242b35;
$color-text-primary: rgb(153, 153, 153);
$color-red: red;
$color-green: rgb(24, 238, 24);
$color-turkish: #5ce8a6;
$color-white: rgb(255, 255, 255);
$color-scrollbar: rgba(139, 139, 139, 0.533);
