@import "./util_style/components";
@import "./util_style/variables";

.dashboard2__QuotesCard {
    background: $color-indexChart-Bg;
    margin: 7px;
    padding: 20px;
    @include FlexBox(column);
    justify-content: space-between;
    border-radius: 10px;
    .dashboard2__QuotesCard__headingbar {
        @include FlexBox(row);
        justify-content: space-between;
        .dashboard2__QuotesCard__heading {
            color: $color-white;
            text-transform: capitalize;
        }
    }
    > .dashboard2__QuotesCard__content {
        @include FlexBox(row);
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        > .dashboard2__QuotesCard__content-left {
            > p {
                color: $color-white;
            }
            > p:last-child {
                color: $color-text-primary !important;
            }
            > .dashboard2__QuotesCard__content-left__incontent {
                @include FlexBox(row);
                align-items: center;
                > h1 {
                    font-size: 3rem;
                    color: $color-turkish;
                    margin-right: 10px;
                }
                > div {
                    margin-top: 7px;
                    color: $color-turkish;
                    > p:first-child {
                        margin-bottom: 2px;
                    }
                }
            }
        }
        > .dashboard2__QuotesCard__content-right {
            > .dashboard2__QuotesCard__content-high,
            > .dashboard2__QuotesCard__content-low {
                > p {
                    color: $color-text-primary;
                    text-align: end;
                    text-transform: capitalize;
                }
                > div {
                    font-weight: 500;
                }
            }
            > .dashboard2__QuotesCard__content-high {
                margin-bottom: 10px;
                > div {
                    color: $color-turkish;
                }
            }
            > .dashboard2__QuotesCard__content-low {
                > div {
                    color: $color-red;
                }
            }
        }
    }
}
