$color-bg-primary: radial-gradient(ellipse at 0% 0%, rgba(89, 87, 98, 1) 11%, rgba(27, 27, 35, 1) 61%);
// $color-bg-primary: linear-gradient(148deg, rgba(65, 65, 78, 1) 8%, rgba(43, 43, 53, 1) 39%, rgba(27, 27, 35, 1) 57%);
$color-bg-primary-1: #1b1b23;
$color-white: rgb(255, 255, 255);
$color-text-primary: rgb(153, 153, 153);
$color-bg-secondary: #22252e;
$color-bg-light: #292a30;
$color-green: rgb(0, 255, 0);
$color-scrollbar: rgba(139, 139, 139, 0.533);

$e: #f8832ac0;
